a:hover {color:#ffffff; background:#151515;}
a:visted {color:#66CCFF;}
a,
a:active.Group,
a:visited.Group,
a:link.Group {
    text-decoration: none;
}
#nav {
  list-style: none;
  overflow: hidden;
}
#nav li {
    width: 200px;
    text-align: center;
    background-color: #333;
    float: left;
    height: 50px;
    line-height: 50px;
    margin-right: 2px;
}
#nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 20px;
}
#logo{
    padding-left:30px;
}


.page { display: table; width: 100%; color:white; }

.Next {
    display: table-cell;
    text-align: right;
    padding-right: 30px;
}
.Next:hover {
    text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}
.Back {
    display: table-cell;
    text-align: left;
    padding-left: 30px;
}
.Back:hover {
    text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}


#pages
{
    color: #364e96;
    border: solid 3px #364e96;
    padding: 0.2em;
    border-radius: 0.5em;
    background-color:white;
}

.tikatika{
    -webkit-animation:tik 1s ease-in-out infinite alternate;
    -moz-animation:tik 1s ease-in-out infinite alternate;
    animation:tik 1s ease-in-out infinite alternate;
    position: relative;
}

@keyframes tik{
    0% {color: #333}
    50% {color: red}
}
@-webkit-keyframes  tik{
    0% {color: #333}
    50% {color: red}
}
@-moz-keyframes tik{
    0% {color: #333}
    50% {color: red}
}

.pyon {
	-webkit-animation:khy 1s ease-in-out infinite alternate;
    -moz-animation:khy 1s ease-in-out infinite alternate;
    animation:khy 1s ease-in-out infinite alternate;
    position: relative;
}

@keyframes khy {
    0% {top: 0}
    50% {top:-17px}
    100%{top: 0}
}

@-webkit-keyframes khy{
    0% {top: 0}
    50% {top:-17px}
    100%{top: 0}
}
@-moz-keyframes khy{
    0% {top: 0}
    50% {top:-17px}
    100%{top: 0}
}

.era {
	-webkit-animation:ere 0.8s ease-in-out infinite alternate;
    -moz-animation:ere 0.8s ease-in-out infinite alternate;
    animation:ere 0.8s ease-in-out infinite alternate;
    position: relative;
}

@keyframes ere {
    0% {opacity: 1}
    50% {opacity: 0}
}

@-webkit-keyframes ere{
    0% {opacity: 1}
    50% {opacity: 0}
}
@-moz-keyframes ere{
    0% {opacity: 1}
    50% {opacity: 0}
}

#goTop{line-height:2}
#pageTop {
    position: fixed;
    bottom: 50px;
    right: 20px;
}
#pageTop i {
    padding-top: 6px 
}
#pageTop a {
    display: block;
    z-index: 999;
    padding: 8px;
    border-radius: 30px;
    width: 35px;
    height: 35px;
    background-color: rgb(132, 236, 229);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
#pageTop a:hover {
    text-decoration: none;
    opacity: 0.7;
}
{font-family: Consolas, Meiryo, "���C���I";
}
